* {
  margin: 0px;
  color: whitesmoke;
}

.container {
  background: linear-gradient(
    112.1deg,
    rgb(33, 44, 78) 11.4%,
    rgb(63, 76, 119) 70.2%
  );

  display: grid;
  place-items: center;
  height: 100vh;
  grid-template-areas:
    "city city"
    "hourly hourly"
    "five-day five-day"
    "feel-like humidity";
}
.container > * {
  font-family: sans-serif;
  display: grid;
  place-items: center;
  font-size: 16px;
  padding: 16px;
}
.city {
  grid-area: city;
  margin: 4px;
}

#high-low-div > span {
  margin: 4px;
}

.temp {
  font-size: 36px;
  font-style: normal;
}
.hourly-forecast {
  grid-area: hourly;
}
/* horizontal scroll added */
.inside-hourly-forecast {
  display: flex;
  width: 80%;
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
}
.inside-hourly-forecast:hover {
  overflow: auto;
}
.inside-hourly-forecast > section {
  margin: 16px;
  padding: 8px;
  display: grid;
  place-items: center;
}

.five-day {
  grid-area: five-day;
}
.inside-five-day-forecast {
  padding: 8px;
  display: grid;
  place-items: start;
}

.inside-five-day-forecast > section {
  padding: 4px;
}

.feel-like {
  grid-area: feel-like;
}
.humidity {
  grid-area: humidity;
}

@media (width <=500px) {
  .inside-hourly-forecast {
    display: flex;
    width: 350px;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
  }
}
